

:root {
    --color-body: lavender;
    --color-heading: #AAAABC;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #ddff53;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body{
    background-color: lavender;
    font-weight: bold;
    color: #022a30;
}

